.dashboard-grid {
    @screen md {
        display: flex;
        margin: 0 -.5rem;
        > * {
            flex: 1;
            margin: 0 .5rem;
        }
    }
}

@supports  (display: grid) {
    .dashboard-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, minmax(100px, auto));
        grid-template-areas:
            "create_team create_team create_team create_team" 
            "teams teams teams teams"
            "participations participations participations participations";
        grid-gap: 1rem;
        align-items: start;
        .create-team {
            grid-area: create_team;
        }
        .team-card {
            grid-area: teams;
        }
        .participation-card {
            grid-area: participations;
        }
        @screen md {
            grid-template-areas: 
                "create_team create_team teams teams"
                "participations participations teams teams"
                "participations participations empty empty"
                "participations participations empty empty"
                ;
        }
    }
}
