.dashboard-grid
    @screen md
        display: flex
        margin: 0 -.5rem
        > * 
            flex: 1
            margin: 0 .5rem

@supports  (display: grid)
    .dashboard-grid
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: minmax(100px, auto)
        grid-template-areas:
            "create-team create-team create-team create-team" 
            "teams teams teams teams"
            "participations participations participations participations"
        grid-gap: 1rem
        align-items: start
        .create-team
            grid-area: create-team
        .teams-card
            grid-area: teams
        .participations-card
            grid-area: participations
        @screen md
            grid-template-areas: "create-team create-team teams teams" "create-team create-team teams teams" "participations participations"
